body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Todo-app {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li > input {
  margin-right: 10px;
}
